<header>
  <nav class='navbar navbar-expand-lg navigation navbar-warning bg-warning'>
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag('bread_sample.jpg', class: 'img-fluid', alt: 'Bread Sample', width: '100', height: 'auto') %>
    <% end %>
    <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto main-nav align-items-center'>
        <li class='nav-item'>
          <%= form_with url: logout_path, method: :delete, class: 'd-inline', data: { turbo: false } do %>
            <button type="submit" class='nav-link btn btn-link text-light' style="padding: 0; border: none;">ログアウト</button>
          <% end %>
        </li>
        <li class='nav-item dropdown dropdown-slide'>
          <%= link_to login_path, class: 'nav-link text-light', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' }, id: 'header-profile' do %>
            マイページ（あとでリンク修正）
            <!--<%= image_tag('bread_sample.jpg', class: 'img-fluid rounded-circle mr-2', alt: 'Bread Sample', width: '40', height: '40', style: 'object-fit: cover; object-position: center; border-raduis: 50%;') %>-->
            <%= image_tag current_user.avatar_url, class: 'rounded-circle mr15', width: '40', height: '40' %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>
