<div class="container pt-5">
  <div class="row mb-3">
    <div class="fixed-width" style="width: 800px; margin: 0 auto;">
      <article class="card p-3">
        <% if current_user.own?(@post) %>
          <div class='d-flex justify-content-end me-3'>
            <%= link_to edit_post_path(@post), id: "button-edit-#{@post.id}" do %>
              <i class='bi bi-pencil-fill h4'></i>
            <% end %>
            <%= form_with url: post_path(@post), method: :delete, class: 'd-inline', data: { turbo: false } do %>
              <button type="submit" class='nav-link btn btn-link text-primary ms-4' style="padding: 0; border: none;"><i class="bi bi-trash-fill h4"></i></button>
            <% end %>
          </div>
        <% end %>
        <!-- 店舗名 -->
        <div class="card-body ms-3">
          <h3 class="text-left"><%= @post.store_name %></h3>
          <ul class="list-inline">
            <li class="list-inline-item"><%= "by #{@post.user.name}" %></li>
            <li class="list-inline-item"><%= l @post.created_at, format: :long %></li>
          </ul>
        </div>
        <div class="card-body">
          <div class="row">
            <p>タグ表示位置</p>
          </div>
          <div class="text-center">
            <% if @post.images.any? %>
              <div class="d-flex justify-content-center flex-wrap">
                <% @post.images.each do |image| %>
                  <div class="col-6 p-2 d-flex justify-content-center">
                    <%= image_tag image.to_s, class: "img-thumbnail" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="row">
            <p><%= simple_format(@post.content) %></p>
            <p>コメント表示位置</p>
            <p>マップ表示位置</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>