<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <!-- FontAwesomeのCDNを追加 -->
    <!--<script src="https://kit.fontawesome.com/b4dbab9e36.js" crossorigin="anonymous"></script>-->
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">-->

    <style>
      body {
        padding-bottom: 70px;
      }
    </style>

    <script>
      const GOOGLE_MAPS_API_KEY = "<%= ENV['GOOGLE_MAPS_API_KEY'] %>";
      const GEOCODING_API_KEY = "<%= ENV['GEOCODING_API_KEY'] %>";
      const PLACES_API_KEY = "<%= ENV['PLACES_API_KEY'] %>";

      function initMap() {
        var addressInput = document.getElementById('address-input');
        if (addressInput) {
          var autocomplete = new google.maps.places.Autocomplete(addressInput);
          autocomplete.setFields(['address_component', 'formatted_address']);
          autocomplete.addListener('place_changed', function() {
            var place = autocomplete.getPlace();
            if (place.formatted_address) {
              addressInput.value = place.formatted_address;
            }
          });
        }
      }

      //document.addEventListener('DOMContentLoaded', function() {
      //   initMap();
      // });
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['PLACES_API_KEY'] %>&libraries=places&callback=initMap"></script>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
